#app{
  --color-Dominant-01: rgb(72, 190, 255);
  --color-Dominant-02: rgb(211, 255, 233);

  --color-Secondary-01: #aaa;

  --color-back-01: rgb(14, 19, 31);
  --color-success-01: rgb(67, 197, 158);
  --color-Error-01: rgb(231, 90, 124);
  --color-Warn-01: rgb(209, 172, 0);
}